# Activate content negotiation
Options Multiviews

# some are missing / aliases
# also adapt to po4a-specific file extensions
AddLanguage nb-NO .nb_NO
AddLanguage pt-BR .pt_BR
AddLanguage sr-Cyrl-RS .sr_Cyrl
AddLanguage zh-Hans .zh_CN
AddLanguage zh-Hant .zh_Hant

