Options +FollowSymLinks
RewriteEngine On
RewriteRule "(.+)\.nb-no$"      "$1.nb_NO"   [passthrough,last]
RewriteRule "(.+)\.sr-cyrl-rs$" "$1.sr_Cyrl" [passthrough,last]
RewriteRule "(.+)\.zh-hans$"    "$1.zh_CN"   [passthrough,last]
RewriteRule "(.+)\.zh-hant$"    "$1.zh_Hant" [passthrough,last]

# Activate content negotiation
Options +Multiviews

# Fix MIME types
AddHandler php-script .php
AddLanguage nb-NO      .nb_NO
AddLanguage pt-BR      .pt_BR
AddLanguage sr-Cyrl-RS .sr_Cyrl
AddLanguage zh-Hans    .zh_CN
AddLanguage zh-Hant    .zh_Hant

LanguagePriority en
